.sub__howitworks {
	margin-top: 168px;

	background: #2c343e;
	border-radius: 10px;
	.sub__main {
		margin-top: 100px;
		margin-bottom: 99px;
	}
	.sub__main__title {
		color: #fefcf7;
	}
	.sub__description {
		margin-bottom: 0px;

		color: #fefcf7;
	}
}
