* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0;
}
body {
  background: #f2f2f2;
}

.titles {
  @extend %titles;
}
.texts {
  @extend %texts;
}
