.collection {
  margin: 136px auto;
  width: 1111px;

  position: relative;

  @extend %display-t-s;
  align-items: center;

  &__title {
    position: absolute;

    opacity: 0.8;
    mix-blend-mode: normal;
    z-index: -1;

    &__box {
      padding: 20px;

      text-align: center;
      font-size: 160px;

      background: -webkit-linear-gradient(-90deg, #333 0%, #fefcf7 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__cards {
    margin-top: 56px;

    @extend %displays;
    gap: 30px;

    .card {
      @extend %display-t-s;
      align-items: center;

      &__title {
        margin-top: 71px;

        font-size: 24px;
        line-height: 32px;

        text-align: center;

        color: $secondary-text-color;
      }
      &__description {
        margin-top: 24px;
        width: 255px;

        font-size: 16px;
        line-height: 26px;

        text-align: center;

        color: $secondary-text-color;
      }
    }
  }
}
