.headquarter {
  margin: 237px auto 0px;
  width: 1045px;

  @extend %display-t-s;

  &__title {
    font-size: 24px;
    line-height: 32px;

    color: #83888f;
  }
  &__cards {
    margin-top: 72px;

    display: flex;
    gap: 95px;

    &__one {
      width: 285px;

      &__title {
        margin-top: 46px;

        font-size: 32px;
        line-height: 36px;

        color: $secondary-text-color;
      }
      &-description {
        margin-top: 24px;

        font-size: $main-text-size;
        line-height: 26px;

        color: $secondary-text-color;
      }
    }
  }
}
